.wrap {
    display: flex;
    justify-content: center;

    #root-app {
        display: flex;
        margin-top: 90px;

        .hidden-view {
            visibility: hidden;
            width: 0;
            height: 0;
            position: absolute;
            top: -100px;
            left: -100px;
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 50px;

            .cer-list {
                border: 1px solid $color-primary;
                margin-bottom: 40px;
                visibility: hidden;

                .item {
                    display: flex;
                    border-bottom: 1px solid $color-primary;
                    padding: 7px;
                    align-items: center;
                    visibility: hidden;

                    .text {
                        font: 400 0.875rem $font-primary; 
                    }

                    .icon {
                        display: flex;
                        margin: 0 0 0 auto;
                        padding-left: 30px;
                        font-size: 0.8rem;
                        color: #444444;
                        visibility: hidden;
                    }

                    &:last-child {
                        border: none;
                    }
                }

                .item.active {
                    visibility: visible;
                    background-color: $color-secondary;
                    
                    .icon {
                        visibility: visible;
                    }
                }

                .item.not-active {
                    visibility: visible;
                }
            }

            .cer-list.active {
                visibility: visible;

                .item {
                    cursor: pointer;
                }
            }

            .cer-list.not-active {
                visibility: visible;
            }

            .btn-add {
                background-color: $color-secondary;
                border: 1px solid $color-primary;
                font: 400 0.875rem $font-primary; 
                padding: 4px 20px;
                border-radius: 6px;
                cursor: pointer;
                visibility: hidden;
            }

            .btn-add.active, .btn-add.not-active{
               visibility: visible;
            }
        }

        .right {
            display: flex;
            flex-direction: column;

            .error-view {
                font: 400 0.875rem $font-primary;
                color: red;
                margin-top: 6px;
                padding: 5px;
                text-align: center; 
            }

            .content-view {
                height: 199px;
                width: 274px;
                padding: 8px;
                text-align: center;
                visibility: hidden;
            }

            .content-view.empty {
                font: 400 0.875rem $font-primary;
                color: #C0C0C0;
                border: 1px solid $color-primary;
                visibility: visible;
            }

            .content-view.drop {
                font: 400 0.875rem $font-primary;
                color: #C0C0C0;
                border: 1px dashed $color-primary;
                visibility: visible;
            }

            .content-view.filled {
                font: 400 0.875rem $font-primary;
                color: $color-primary;
                border: 1px solid $color-primary;
                text-align: left;
                visibility: visible;
            }
        }
    }
}